/**
 * Main App scss file
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

button {
    height: 30px;
    margin: 20px auto;
    padding: 2px 20px;
    background-color: rgb(154, 59, 59);
    color: white;
    cursor: pointer;
}